body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 100px;
  box-shadow: 1px 1px 10px #DDD;
}
header{
  height: 60px; background: #006666; color: #FFF;
  padding: 10px; border-bottom: 2px solid #33FF00;
}

footer{
  text-align: center;
  padding: 20px 0;
}

.container{
  margin-top: 20px;
  min-height: 100px; padding: 10px;

}

.container a {

    color:#FFF; background: #006699;
    text-decoration:none;
    border: 1px solid;
    padding: 10px;
}

.container a.current {
  background: #00CC99;
    font-weight:bold;
}



